/*--------
GENERAL STYLES----*/

body {margin: 0; /*remove default margin settings*/
overflow-x: hidden; /*no horizontal scroll*/
margin-bottom: 300px;/*for always at bottom footer */
padding: 0;} /* remove default padding styles */

#maincontainer { 
min-height: 100%; /*for footer*/
}

html,body {
height: 100%;
font-size: 20px;/*for responsive font size*/
}


#content { 
overflow: auto;
padding-bottom: 300px; 
}



/*warning website is just for coding project*/
.alert {
    padding: 20px;
    background-color: #d42d44;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}


/*warning website is just for coding project*/

/*typography*/


@media(max-width: 1580px) {
html {
font-size: 18px;
}
}

@media(max-width: 980px) {
html {
font-size: 16px;
}
}


li { text-decoration: none;
list-style: none;} 

p {font-family: 'Open Sans', sans-serif;
font-size: 1rem;
line-height: auto;
}
h2 {font-family: 'Lato', sans-serif;
font-size: 1.7rem;
line-height: auto;
}
h1 {font-family: 'Lato', sans-serif;
font-size: 2.2rem;
line-height: auto;

}

#grey-italic {font-style: italic;
color: #888;}

#bold {font-weight: bold;}

a:hover {color:#d42d44;}

h4 {    font-size: 0.9rem;
line-height: 1.5rem;
font-family: 'Open Sans', sans-serif;}

h3 {    font-size: 0.9rem;
line-height: 1.6rem;
font-family: 'Open Sans', sans-serif;}

a {text-decoration: none;
color:#99ccff;}

#bg-grey-text {background-color: #fafafa;
padding: 20px;}

#sec-statement {
font-size: 5rem;
font-family: 'Zilla Slab Highlight', cursive;
line-height: auto;}

#page-title {
font-family: 'Open Sans', sans-serif;
margin-left: 50px;
border-bottom: 1px solid #99ccff;
padding-bottom: 5px;
text-align: left;


/*typography*/}




/*button*/

.fly-in-text {
list-style: none;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(-50%) translateY(-50%);
text-align: center;
z-index: 1000000;
}
.fly-in-text li {
display: inline-block;
font-size: 4rem;
font-family: 'Zilla Slab Highlight', cursive;
line-height: auto;
color: white;
transition: all 2.5s ease;
z-index: 1000000;
}
.fly-in-text li:last-child {
margin-right: 0;
z-index: 1000000;
}
.fly-in-text.hidden li {
opacity: 0;
z-index: 1000000;
}
.fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.fly-in-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }

#btn-turquoise {background-color: #a0a5bc;
margin: 20px; 
border-color: transparent;
font-size: 18px;
color: white;
}

#btn-grey{background-color: #E5E5E5;
width: 200px;
padding: 15px;
margin: 20px; 
border-color: transparent;
font-size: 18px;
color: grey;
font-family: 'Raleway', sans-serif;
font-weight: 700;
}


#btn-red{
background-color: #d42d44;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

/*btn from tutorial*/
.btn-3d:active {
top: 9px;
}

.btn-3d {
position: relative;
display: inline-block;
font-size: 1rem;
padding: 6px 20px;
color: white;
margin: 20px 10px 10px;
border-radius: 6px;
text-align: center;
text-decoration: none;
transition: top .01s linear;
text-shadow: 0 1px 0 rgba(0,0,0,0.15);
} 

.btn-3d.red {
background-color: #e74c3c;
box-shadow: 0 0 0 1px #c63702 inset,
0 0 0 2px rgba(255,255,255,0.15) inset,
0 8px 0 0 #C24032,
0 8px 0 1px rgba(0,0,0,0.4),
0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.red:active {
box-shadow: 0 0 0 1px #c63702 inset,
0 0 0 2px rgba(255,255,255,0.15) inset,
0 0 0 1px rgba(0,0,0,0.4);
}
.btn-3d.red:hover    {background-color: #e74c3c;}


/*button*/

/*menu*/

/*transform to fixed menu*/
.f-nav a {
float: left;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 0.9rem;
font-family: 'Lato', sans-serif;

}

.f-nav{ z-index: 9999;
position: fixed; 
left: 0;
top: 0; 
width: 100%; 
background-color: black;
opacity: 0.9; }
/*transform to fixed menu*/ 



.topnav {
overflow: hidden; 
width: 100%; /*full-width*/
z-index: 1000; /*on top of everything*/
background-color: white;
border-bottom: 1px solid #f2f2f2;
border-top: 1px solid #f2f2f2;
}

.topnav a {
float: left; /*float next to each other*/
color: #666;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size:  0.9rem;
font-family: 'Lato', sans-serif;
}


.topnav a:hover {
color: #99ccff;
}

.topnav a.active {
color:  #d42d44;
background-color: white;
}


.topnav .icon {
display: none;
}

/*responsive menu*/

@media screen and (max-width: 700px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
float: right;
display: block;
}
}

@media screen and (max-width: 700px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
position: absolute;
right: 0;
top: 0;
}
.topnav.responsive a {
float: none;
display: block;
text-align: left;
}

}

/*responsive menu*/
/*menu*/





/*--------
GENERAL STYLES----*/


/*---------
sections------*/


.header, .full-img-sec{
position:relative;
background-position:center;
background-size:cover;
background-repeat:no-repeat;

/*
fixed = parallax
scroll = normal
*/
background-attachment:fixed;
background-color: #99ccff; /*backup color*/
min-height: 500px; /*always 500px at least */
opacity: 0.9;

}
.full-img-sec{
background-color: #5da2a0; 
min-height: 700px;/*always 700px at least*/
}


.section{
text-align:center;
padding:50px 80px;
}


.section-light{
background-color:#fff;
color:#666;
}

.section-red{
background-color:  #d42d44;
color:#fff;
}

.section-blue{
background-color:#0d5f7c;
color:#fff;
}



.section-dark{
background-color: #FAFAFA;
color:#666;}

#img-sec-text{
/*centre*/
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align:center;
/*center*/
color:#fff;
font-size:  4rem;
font-weight: 300;
letter-spacing: auto;
font-family: 'Zilla Slab Highlight', cursive;
}


@media(max-width:568px){
.header, .full-img-sec{
background-attachment:scroll; /*no parallax*/
}
}

/*---------
sections------*/


/*---------------
HOMEPAGE---------*/

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}


#secondary-content {
padding: 60px 0;
width: 95%;
height: auto;
overflow: no-overflow;
text-align: center;
}
#secondary-content article {
width: 95%;
height: auto;
float: left; 
font-family: 'Raleway', sans-serif;
margin-bottom: 20px;
background-color: #f5f5f5;
}
#secondary-content article:first-child {
margin-right: 20px;
}
#secondary-content article .overlay {
background: rgba(255, 255, 255, .95);
height: auto;
width: 47%;
padding: 20px;
}
article h4 {
border-bottom: 1px solid #2dd4bd;
padding-bottom: 20px;
}

/*---------------
HOMEPAGE---------*/


/*----------
about-------*/
.mission { float: left;
width: 28%;
margin-left: 5%;
text-align: center;}

/*clear floats*/
.row:after {
content: "";
display: table;
clear: both;
}
/*----------
about-------*/

/*---------
contact-----*/


#contactForm {
margin: 0 auto;
}

#contactForm input, textarea {
letter-spacing: 2px;

color: #000;
background-color: #FAFAFA;

outline: none; 
border: none;

display:block;
margin: 0 auto;
padding: 1em;
width: 90%;
max-width: 400px;
}

#contactForm textarea {
height: 150px;
}

#contactForm *:focus {
background-color: #ff7559;
}

#contactForm *:hover {
background-color: #ff7559;
}

/* contact container*/
.c-container {
background-color: #fff;
width: 400px;
height: 600px;
display: inline-block;
}


.c-container h2 {
margin: 20px;
font-family: 'Raleway', sans-serif;
color: #666;
text-align: left;}

.c-container h4 {
margin: 25px;
font-family: 'Raleway', sans-serif;
color: #666;
font-family: 'Satisfy', cursive;
text-align: left;}

.c-container p{
margin: 20px;
font-family: 'Raleway', sans-serif;
color: #666;
text-align: left;}

.c-container li{
margin: 20px;
font-family: 'Raleway', sans-serif;
color: #666;
text-align: left;}

/* contact container*/

#m-c-container {
margin: 50px;
border-radius: 0px;
padding: 15px;
display: flex;
}

.fa {
padding: 15px;
font-size: 1rem;
width: 50px;
text-align: center;
text-decoration: none; /*remove link underline - default*/
margin: 5px 2px;
display: bold;
}

.fa:hover {
opacity: 0.7;
}

.fa-facebook {
color: #666;
}

.fa-twitter {
color: #666;
}

.fa-google {
color: #666;
}


.fa-instagram {
color: #666;

}

/*---------
contact-----*/

/*------
faq------*/

.answers {     
padding: 15px;
margin: 0px;
color: #666;
margin-top: -10px;
text-align: left;
display: none;
font-size: 1rem;
font-family: 'Raleway', sans-serif;
}

#question {    
width: 100%;
text-align: left;
padding: 25px;
font-size: 1.5rem;
outline: none;
cursor: pointer;
background-color: white;
color: #666;
line-height: 15px;
margin: 0px;
font-family: 'Raleway', sans-serif;
border: none;
background: transparent url(http://www.witoldpaprotny.com/codepen/close-ico-dark.png) no-repeat right 50%;
border-top: 1px dotted #ccc;
}

/*------
faq------*/

/*-------
helpus-----*/

#side-left-img {
width: 50%; /*should only be half of container*/
min-height: 300px;
float: left;/*remove from normal document flow- rigth content floats right, left floats left*/
background-size: cover;
background-image: url("file:///C:/Users/Moyo's/Downloads/pexels-photo-708440%20(1).jpeg");
background-repeat: no-repeat; /*background isn't repeated*/
}

#side-right-content {
float: right; /*remove from normal document flow- rigth content floats right, left floats left*/
width: 50%; /*should only be half of container*/
background-color: #FEFDFB;
min-height: 300px;}


#side-right-img {
width: 50%; /*should only be half of container*/
min-height: 300px;
float: right;/*remove from normal document flow- rigth content floats right, left floats left*/
background-size: cover;
background-image: url("file:///C:/Users/Moyo's/Downloads/pexels-photo-249613.jpeg");
background-repeat: no-repeat;

}


#side-left-content {
float: left;/*remove from normal document flow- rigth content floats right, left floats left*/
width: 50%; /*should only be half of container*/

min-height: 300px;
background-color: #FEFDFB;
}


/*full container*/
#side-to-side {min-height: 700px;}

/*---google form modal---*/

/* Add padding to container elements */
.container {
padding: 16px;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1000; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
position: absolute;
right: 35px;
top: 15px;
color: #000;
font-size: 40px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: red;
cursor: pointer;
}

/* Clear floats */
.clearfix::after {
content: "";
clear: both;
display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
.cancelbtn, .signupbtn {
width: 100%;
}
}

/*-------
helpus-----*/

/*-------
bios----*/
/* Create two equal columns that floats next to each other */
.side{
    float: left;
    padding: 10px;
	height: 850px;
	background-color: lightgrey;
color:#fff;
width: 33.33%;
height: 850px;
float: left;
border-right: 3px dotted white;
}

.bio {height: 100%}

/* Clear floats after the columns */
.bio:after {
    content: "";
    display: table;
    clear: both;
}
* {
    box-sizing: border-box;
}



#title {text-align: center;
margin-bottom: 10px; }

#position {text-align: center;
opacity: 0.8;}

#profile-pic {
  border-radius: 50%;
  width:10rem;
}

#bio-info {font-size: 1rem;
font-family: 'Lato', sans-serif;
font-weight: 400px;
margin: 15px; }


#img-half {position:relative;
background-position:center;
background-size:cover;
background-repeat:no-repeat;

/*
fixed = parallax
scroll = normal
*/
background-attachment:fixed;
background-color: #5da2a0; 
height: 850px;
width: 65%;
opacity: 0.9;}
/*-------
footer----*/

.footer {
width: 100%;
margin:0 auto;
display:flex;
background-color: #363636;
position: relative; 
height: 300px;
margin-top: -200px; /*allows for always at the bottom footer*/
clear: both; 
color: #fff;
}



.footer-navigation {
width:30%; 
float: left;
}



.bottom-bar {
position:relative;
text-align:center;
font-size:1rem;
background:#000;
padding:15px 0;
}

@media screen and (max-width: 700px) {
.footer-contact {width: 100%;}
.footer-links-holder {width: 100%;}
.bottom-bar {width: 100%;} 
.footer {height: 700px;}
.footer-links {width: 100%;}
.footer-navigation {width: 100%;} 
}

/*-------
footer----*/

/*-----
responsive-----*/
@media screen and (max-width: 1100px) {
#side-right-content {width: 100%;}
#side-left-content {width: 100%;}
#side-right-img {width: 100%} 
#side-left-img {width: 100%;}
}

@media screen and (max-width: 900px) {
.mission{width: 100%;}
}

@media screen and (max-width: 700px) {
.overlay{width: 100%;}
article {width: 100%;}
}


@media screen and (max-width: 900px) {
#img-half {display: none;}
#section-bio {width: 100%;height: auto;}
}


@media screen and (max-width: 900px) {
#faq{width: 100%} 

}
@media screen and (max-width: 1100px) {
#map-half{display: none;} 
.container {width: 100%; }

}



@media screen and (max-width: 900px) {
#half-image {width: 100%;margin-bottom: 30px;}
}


#half-image {float: right;margin: 20px;}
#section-divided {height: auto;margin-bottom: 100px;}



@media screen and (min-width: 900px){
#bck-title {display: none;}
}

@media screen and (max-width: 900px){
#secondary-content article .overlay {width: 100%;}
}


#bck-title {
position: absolute;
left: 50%;
top: 50%;
transform: translateX(-50%) translateY(-50%);
text-align: center;
z-index: 1000000;
}
#bck-title {
font-size: 3rem;
font-family: 'Lato', sans-serif;
line-height: auto;
color: white;
z-index: 1000000;
}

@media screen and (max-width: 900px){
.fly-in-text li {display: none;}
}

#half-content {font-size: 1.2rem; text-align: left; float; left;line-spacing: auto;}

/*-----
responsive-----*/
